/node_modules
/public/hot
/public/storage
#*/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# MySQL data
docker/mysql/data/*
# Docker logs
docker/mysql/logs/*
/storage/oauth-private.key
/storage/oauth-public.key
# 画像ファイルなどは許可、秘密鍵のみ除外